<!DOCTYPE html>
<html>
<head>
    <title>HamroSajhaPasal</title>
</head>

<style type="text/css">
    .categories{
        width:100%;
    }
    .shoes , .sunglasses , .clothes{
        height:300px;
    }
    .shoes , .clothes , .sunglasses{
        
        background: #e5e5e5;
    }
    
    
    .shoe-images , .clothe-images , .sunglass-images{
        margin:30px;
        margin-left: 50px;
    }
    /*asdasdasd*/
   /* .img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */



/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

/*.carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 400px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
    }
.carousel{
    position: relative;
    bottom: 20px;`
}
</style>
<script type="text/javascript">
   /*  $(document).ready(function(){
        $('#myCarousel').carousel();
    var winWidth = $(window).innerWidth();
    $(window).resize(function () {

        if ($(window).innerWidth() < winWidth) {
            $('.carousel-inner>.item>img').css({
                'min-width': winWidth, 'width': winWidth
            });
        }
        else {
            winWidth = $(window).innerWidth();
            $('.carousel-inner>.item>img').css({
                'min-width': '', 'width': ''
            });
        }
    });
});
     

</script>
<body>
    
        <!--<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item" style="">
            <img src="//placehold.it/1024x600/556B2F&text=First+Slide" alt="" class="">
            <div class="carousel-caption">
                <h4 class="">First Slide Title</h4>
                <p class="">
                   Description for First Slide, this First Slide.
                </p>
            </div>
        </div>
        <div class="item active">
            <img src="//placehold.it/1024x600/B05404&text=Second+Slide" alt="" class="">
            <div class="carousel-caption">
                <h4 class="">Second Slide Title</h4>

                <p class="">
                   Description for Second Slide, this is Second Slide.
                </p>
            </div>
        </div>
        <div class="item" style="">
            <img src="//placehold.it/1024x600/3333bb&text=Third+Slide" alt="" class="">
            <div class="carousel-caption">
                <h4 class="">Third Slide Title</h4>

                            <p class="">
                   Description for Third Slide, this is Third Slide.
                </p>
            </div>
        </div>
    </div>    

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>


</div>-->

    <div class="container categories">
         <div class="row">
           <% @categories.each do |c| %>
            <div class="col-sm-4 categories_of_products">
                <div class="shoes" data-id="<%= c.id %>" >
                    <%=link_to c.category_name , category_products_path(c) %>
                </div>
            </div>
            <% end %>
          </div>

        </div>

<script type="text/javascript">
    $(document).ready(function(){
    

       
    });
</script>
            

</body>
</html>
<!--<div class="container categories">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="shoes">
                    <%= image_submit_tag('shoe.png' , class: "shoe-images") %>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clothes">
                    <%= image_submit_tag('clothe.png' , class: "clothe-images") %>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="sunglasses">
                    <%= image_submit_tag('sunglass.png' , class: "sunglass-images") %>
                </div>
            </div>
            
        </div>  
    </div>